@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    scroll-behavior: smooth;
}

@media(min-width: 990px) {
    .center-items-404 {
        position: relative;
        width: 100%;
        margin: 10px;
    }
    .center-items-404 .btn {
        padding: 10px;
    }
    .shadow {
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    }
    .center-items {
        position: relative;
        display: block;
        padding: 200px;
        margin: auto;
    }
    .height-90vh {
        position: relative;
        min-height: 90vh;
    }
    .box {
        position: relative;
        width: 70%;
        display: block;
        margin: auto;
        padding: 10px;
    }
    .flex-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .flex-display iframe {
        margin: 10px;
    }
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-self: center;
        align-content: center;
        gap: 20px;
        margin: 200px 0;
    }
    .grid-3 .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        border-radius: 10px;
        padding: 50px 0 10px 0;
        transition: 0.3s all ease;
    }
    .grid-3 .card:hover {
        box-shadow: 7px 6px 8px rgba(0, 0, 0, 0.3);
    }
    .grid-3 .card i,
    .grid-3 .card path,
    .grid-3 .card svg {
        position: relative;
        margin: 50px 0 50px 0;
    }
    .grid-2-1 {
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .grid-2-1>div {
        position: relative;
        padding: 50px 0;
    }
    .grid-2-1>div img {
        width: 100%;
        object-fit: cover;
    }
    .grid-2-1>div form {
        position: relative;
        display: block;
    }
    .form-group {
        position: relative;
        display: block;
        width: 100%;
        margin: 20px 0;
    }
    .form-group label {
        position: relative;
        display: block;
        font-family: ubuntu !important;
        font-size: 18px;
    }
    .form-group input,
    .form-group textarea {
        border: none;
        background: none !important;
        outline: none !important;
        display: block;
        width: 100%;
        padding: 10px 5px;
        color: #999;
        font-size: 18px;
        font-style: italic;
        font-family: ubuntu !important;
        border-bottom: 2px solid rgb(228, 0, 0);
    }
    .show-lg {
        display: block;
    }
    .hide-sm {
        display: block;
    }
}


/* Container */


/* Responsive media query */

@media(max-width: 990px) {
    * {
        margin: 0;
        padding: 0;
    }
    .show-lg {
        display: none;
    }
    .hide-sm {
        position: relative;
        display: none;
    }
    .navbar {
        position: relative;
        display: block;
        width: 100%;
        height: 50px;
        background-color: #666;
    }
    .navbar button.openMenu {
        position: absolute;
        display: block;
        top: 9px;
        right: 20px;
        border: none;
        outline: none;
        background: none !important;
        font-size: 30px;
    }
    .navbar a.logo {
        position: relative;
        display: block;
        padding-top: 10px;
        margin-left: 20px;
    }
    .navbar ul {
        position: absolute;
        top: 50px;
        left: -100%;
        background: rgba(153, 153, 153, 0.733);
        display: block;
        width: 100%;
        padding: 20px 0;
        transition: 1s all ease;
    }
    .navbar ul.left-0 {
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 999;
    }
    .navbar ul li a.active,
    .navbar ul li a:hover {
        color: #eee;
        background-color: rgba(17, 17, 17, 0.7);
        border: none;
        border-radius: 0;
    }
    .navbar ul li a {
        text-align: center;
        padding: 20px;
        border: none;
        display: block;
    }
    .container {
        position: relative;
        top: 50px;
        left: 0;
        display: block;
    }
    .box {
        position: relative;
        width: 90%;
        margin: 10px auto;
        /* background: red; */
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        font-family: ubuntu;
    }
    .box h1 {
        color: rgb(182, 2, 2);
    }
    .grid-3 {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-self: center;
        align-content: center;
    }
    .grid-3 .card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 20px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .grid-2-1 {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .grid-2-1>div {
        width: 100%;
        margin: 10px;
    }
    .grid-2-1>div img {
        position: relative;
        width: 100%;
    }
    .form-group {
        position: relative;
        display: block;
        margin: 20px 0;
    }
    .form-group label {
        display: block;
        font-family: ubuntu !important;
        color: #999;
    }
    .form-group input,
    .form-group textarea {
        position: relative;
        color: #999;
        width: 100%;
        padding: 10px;
        border: 2px solid #999;
        border-radius: 4px;
        outline: none !important;
        font-size: 16px;
        font-family: ubuntu;
    }
}

.content-center-form {
    position: relative;
    width: 320px;
    margin: auto;
}

.p-2 {
    padding: 10px;
}
.stream{
    position: realtive;
    width: 100%;
    height: 250px;
    background: #999;
}
.delete{
    opacity: 0;
}
table tbody tr:hover .delete{
    opacity: 1;
}

.box-dashboard{
    position: relative;
    border-radius: 20px;
    padding: 20px;
}