
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="center-items-404 mt-20">
                    <h1 class="font-100 text-center color-red font-ubuntu">404</h1>
                    <h2 class="text-center color-red font-ubuntu">Cette page ne pas trouve</h2>
                    <br>
                    <br>
                    <br>
                    <a href="/" class="btn btn-primary btn-block text-center font-ubuntu show-lg">Retour</a>
                </div>
            </div>
        </div>
    </div>
