<%- include('./includes/header') %>
<nav class="navbar navbar-expand-md p-0 bg-danger navbar-dark">
    
    <a class="navbar-brand mx-5" href="/"><%= project %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light" href="/accueil">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/register">Enregistrement</a>
            </li>
            <li class="nav-item active bg-warning">
              <a class="nav-link text-light" href="/security">Securite</a>
            </li>
            <li class="nav-item text-light">
              <a class="nav-link disabled" href="#">Parametre</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="display-1">Securite</h1>
                <p>
                    Reste connecter est surveille les porte
                </p>
            </div>
            <div class="col-md-3 col-sm-12 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="stream shadow">Camera..3</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-lg-3">
                <div class="card">
                    <div class="card-body"><div class="stream shadow">Camera..2</div></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-lg-3">
                <div class="card p-1">
                    <div class="card-body">
                        <div class="stream shadow">Camera..1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./includes/footer') %>