<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="./images/18.png" type="image/png">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    <nav class="navbar shadow">
        <a href="/" class="logo color-light font-ubuntu"><%= title%></a>
        <button type="button" id="openMenu" class="color-light openMenu"><i class="fa fa-bars"></i></button>
        <ul>
            <li><a href="/" class="color-light font-roboto">Home</a></li>
            <li><a href="#" class="color-light font-roboto">About Us</a></li>
            <li><a href="#" class="color-light font-roboto">Profil</a></li>
            <li><a href="#" class="color-light font-roboto">Message</a></li>
            <li><a href="/videos" class="active color-light font-roboto">Our videos</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="box shadow">
            <div class="flex-display">
                <iframe src="https://www.youtube-nocookie.com/embed/videoseries?start=8&amp;list=PLafyT7oEdVWuOB4mXO4imIEpV4ydbdcsX" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe src="https://www.youtube-nocookie.com/embed/videoseries?start=8&amp;list=PLafyT7oEdVWuOB4mXO4imIEpV4ydbdcsX" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe src="https://www.youtube-nocookie.com/embed/videoseries?start=8&amp;list=PLafyT7oEdVWuOB4mXO4imIEpV4ydbdcsX" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>